body {
  font-family: Arial, sans-serif;
  background: #8f9cd4;
}

h1 {
  text-align: center;
  color: #2d2950;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 46px;
}

.event-section {
  background: #fff;
  padding: 15px;
  margin: 15px auto;
  border-radius: 15px;
  box-shadow: #8f9cd4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
}

.event-section h2 {
  color: #403c6e;
}

button {
  padding: 5px 12px;
  margin: 5px;
  cursor: pointer;
  width: 100px;
  background-color: #8fa0ec;
  font-weight: 600;
}
button:hover {
  background-color: rgb(86, 102, 194);
  color: #fff;
}

input {
  padding: 6px;
  margin-top: 5px;
  display: block;
  width: 200px;
  text-align: center;
}
